/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* GENERAL */

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background-color: rgb(34, 29, 36);
  font-family: "Libre Baskerville", serif;
}

code {
  font-family: "Space Mono", monospace;
  background-color: rgb(98, 84, 104);
  padding: 0em 0.2em 0em 0.2em;
  border: 2px solid rgb(106, 91, 112);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

/* NAV */

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

nav > header {
  font-size: 1.75em;
  padding: 0 0 1rem 0;
  font-weight: 700;
}

nav > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

nav > ul > li {
  padding: 0.3em;
  border: 1px solid #fff;
  width: 100%;
}

nav > ul > li > a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* MAIN  */

main {
  padding: 0 1em 0 1em;
}

main header {
  font-size: 1.75em;
  padding: 1rem 0 1rem 0;
  font-weight: 700;
}

main p {
  margin: 0.5rem;
}

main ul li {
  margin: 0.7rem 0 0.7rem 3rem;
}

main section .enable-list {
  list-style: disc;
}

main ol li {
  margin: 0.7rem 0 0.7rem 3rem;
}

/* FOOTER */
footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  margin-top: 1.75em;
  background-color: rgb(106, 91, 112);
  color: #fff;
  padding: 1.2em;
}

/* MOBILE */

@media (min-width: 650px) {
  nav {
    position: fixed;
    height: 100%;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    margin-top: 0;
  }

  nav header {
    padding: 1.75rem;
  }

  .flex {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 295px;
  }
  main {
    padding: 2rem 2rem;
  }

  main header {
    font-size: 1.5em;
  }
}
